* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 18, 18);
    display: flex;
    flex-direction: column;
}

#main_box {
    position: absolute;
    transform: translate(40vw, 15vh);
}

.box {
    display: flex;
    flex-direction: row;
    width: 30vw;
}

img {
    height: 18vh;
    margin: 0.5vw;
}

#plus {
    border-top-left-radius: 5vh;
}

#multi {
    border-top-right-radius: 5vh;
}

#percent {
    border-bottom-left-radius: 5vh;
}

#square {
    border-bottom-right-radius: 5vh;
}

#plus:hover {
    rotate: 1 -0.5 1 -8deg;
    transform: scale(1.2);
    transform-origin: bottom right;
    transition: 0.5s;
}

#multi:hover {
    rotate: 1 -0.5 1 8deg;
    transform: scale(1.2);
    transform-origin: bottom left;
    transition: 0.5s;
}

#minus:hover {
    transform: scale(1.2);
    transform-origin: right;
    transition: 0.5s;
}


#divide:hover {
    transform: scale(1.2);
    transform-origin: left;
    transition:0.5s;
}

#percent:hover {
    rotate: 1 -0.5 1 8deg;
    transform: scale(1.2);
    transform-origin: top right;
    transition: 0.5s;
}

#square:hover {
    rotate: 1 -0.5 1 -8deg;
    transform: scale(1.2);
    transform-origin: top left;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    #main_box{
        transform: translate(10vw, 20vh);
    }
}